extend page

block main
	.container
		.row
			.page-header.about-heading
				h1.text-center About FreeLearners
				
			.col-md-8.col-md-offset-2.col-xs-12
				p.bigger.about-text.
					At the end of 2015 one of the boggest MOOC providers, Coursera, drastically scaled down on the features available to the non-paying students. Theese students no longer receive a free certificate upon completing a course. But more importantly, in many courses they now don't have access to graded assignments. Locking them out of the process only inconvenienced non-paying students and didn't free any considerable resources. After all, the ones reviewing the submissions before the changes at Coursera were peers themselves. Many students believe that these assignments are an integral part of learning experience, especially for CS/Programming related courses. Proof of that are forum topics, google hangout groups and other spaces created for the specific purpose of sharing and grading submissions by students, for students.
				p.bigger.about-text.
					This site is intended to provide a platform for that. The process of submitting assignments for review and reviewing others' submissions is designed to mimick that of the specific courses at Coursera, so as to provide a learning experience equivalent to original.
				
