extends page

block main
  .container
    .row
      .page-header
        block assignmentHeader
          .clearfix
            h2.assignment-header
              //- small Week #{week.weekN} assignment: 
              //- | Exploring Ionic Framework
              //- small , available at 
              //- TODO:0 get url and topic from db
              a(href=week.url title="at Coursera")= week.topic
            block assignmentHeaderRight

              
      block assignmentBody            
        .col-xs-12
          #assignment.panel.panel-info
            block panelHeading
              .panel-heading
                h3.panel-title= title
            block panelBody
              .panel-body
                block form              
              
            .panel-footer.clearfix
              block formFooter
                .btn-group.btn-group-lg.pull-right(role='group')
                  button.btn.btn-primary(type='submit', form="submissionForm") Submit
                  button.btn.btn-warning(type='reset', form="submissionForm") Reset            
