extends page

block main
  .container
    .row
      .page-header
        h1
          | Assignment: Exploring Ionic Framework
          | 
          small at 
            | 
            a(href="https://www.coursera.org/learn/hybrid-mobile-development/peer/VsOf7/exploring-ionic-framework") Coursera
            
      .col-xs-12
        .panel.panel-info
          .panel-heading
            h3.panel-title= title
          .panel-body      
            block form              
            
          .panel-footer.clearfix
            block footer
              .btn-group.btn-group-lg.pull-right(role='group')
                button.btn.btn-primary(type='submit', form="submissionForm") Submit
                button.btn.btn-warning(type='reset', form="submissionForm") Reset            
