extends page

block main
  include ./mixins/logregForm.jade
  
  .container
    .row.text-center
      .col-xs-12.col-sm-6
        +logregForm('/login', loginInfo)
          h1 Login Form
          p.lead If you have an account.
      .col-xs-12.col-sm-6
        +logregForm('/register', registerInfo)
          h1 Register Form
          p.lead If you don't have an account.
    
    ul
      //- each val, index in ops
      //-   li= index + ': ' + val
      
    h2= redirectedFrom
      
      
