/*eliminate space between navbar and main content (e.g. jumbotron)*/
body > .navbar {
  margin-bottom: 0;
}


body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #eee;
}

/*otherwise textarea can be resized outside .panel along x-axis*/
.panel form textarea {
  resize: vertical;
}

/*otherwise gets overridden easily*/
form .alert {
  text-align: initial;
}
