/*eliminate space between navbar and main content (e.g. jumbotron)*/
header > .navbar {
  margin-bottom: 0;
}

/* Sticky Footer start*/
html {
  /*to make html take all page*/
  min-height: 100%;
  /*allow for footer to be absolutely positioned relative to html*/
  position: relative;
}

body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  /*to provide space for the footer*/
  margin-bottom: 80px;
}

footer {
  position: absolute;
  /*stick to bottom*/
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #eee;
}
/*Sticky Footer End*/

a {
  color: #00B7FF;
}

/*.list-group > .list-group-item-divider {
  border: none;
  background-color: #fcf8e3;
  to negate margin-bottom: -1px of list-group-item above
  margin-top: 1px;
}*/

#courses.list-group > .list-group-item:not(:last-child) {
  margin-bottom: 20px;
}

/*gutter-like separater between list elements*/
#courses.list-group > .list-group-item:not(:last-child):after {
  content: '';
  display: block;
  background-color: #fcf8e3;
  position: absolute;
  bottom: -21px;
  margin: 0 -15px;
  height: 20px;
  width: 100%;
}

/*otherwise textarea can be resized outside .panel along x-axis*/
.panel form textarea {
  resize: vertical;
}

/*otherwise gets overridden easily*/
form .alert {
  text-align: initial;
}

.task-help-text {
  padding: 5px;
  margin-bottom: 0;
  background-color: #F7F9F9;
}


.circle-number {
    border-radius: 50%;
    background-color: #D9EDF7;
    min-width: 2em;
    display: inline-block;
    text-align: center;
    line-height: 2em;
}

.submission-text {
  height: auto;
  min-height: 70px;
}

.reviewersComments .submission-text {
  /*width: 90%;
  float: right;
  margin-right: 20px;*/
  width: calc(100% - 35px);
  margin-left: 35px;
}

.reviewersComments > label:first-child {
  margin-bottom: 20px;
}


.panel-info > .panel-collapse > .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

#assignment .panel-heading[data-toggle="collapse"] {
  color: #fff;
  background-color: #337ab7;
  margin: 0 -3px;
  border-radius: 3px;
  cursor: pointer;
}

.assignment-header {
  float: left;
}

.review-others-link {
  float: right;
  border-left: 1px solid #EEEEEE;
  padding: 0 20px;
}
