$footer-height: 100px;
// $footer-color: #eee;
$footer-color: #93DEEF;
$footer-link-color: #333;
$footer-text-color: lighten($footer-link-color, 30%);

$jumbotron-color: #8EDDEF;
$jumbotron-gradient: linear-gradient(to bottom,#F8F8F8 0,#8EDDEF 100%);

$link-color: #00b7ff;
$header-separator-color: #eee;
$gutter-color: #fcf8e3;
$task-help-text-color: #f7f9f9;
$circle-number-color: #d9edf7;

$submission-text-min-height: 70px;

$bigger-font: 130%;
$smaller-font: 55%;
$footer-padding: 20px;

$body-fonts: 'Lucida Grande', Helvetica, Arial, sans-serif;
$jumbotron-heading-font: Georgia, serif;


// eliminate space between navbar and main content (e.g. jumbotron)
header > .navbar {
  margin-bottom: 0;
}

// Sticky Footer Start
html {
  // makes html take all page
  min-height: 100%;
  // allows for footer to be absolutely positioned relative to html
  position: relative;
}

body {
  // padding: 50px;
  font: 14px $body-fonts;
}

main {
  // provides space for the footer
  margin-bottom: $footer-height;
}

footer {
  position: absolute;
  // stick to bottom
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-color;
}
// Sticky Footer End

a {
  color: $link-color;
}

// #courses.list-group > .list-group-item-divider {
//   border: none;
//   background-color: $gutter-color;
//   // to negate margin-bottom: -1px of list-group-item above
//   margin-top: -1px;
// }

#courses > .list-group-item {
  &:not(:last-child) {
  margin-bottom: 20px;
  $height: 20px;

    // gutter-like separater between list elements
    &:after {
      content: '';
      display: block;
      background-color: $gutter-color;
      position: absolute;
      bottom: -$height - 1;
      margin: 0 -15px;
      height: $height;
      width: 100%;
    }
  }
}

// otherwise textarea can be resized beyond .panel along x-axis
.panel form textarea {
  resize: vertical;
}

// otherwise gets overridden easily by parent
form .alert {
  text-align: initial;
}

.task-help-text {
  padding: 5px;
  margin-bottom: 0;
  background-color: $task-help-text-color;
}

.circle-number {
  border-radius: 50%;
  background-color: $circle-number-color;

  $min-width: 2em;
  min-width: $min-width;
  display: inline-block;
  text-align: center;
  line-height: $min-width;
}

.submission-text {
  height: auto;
  min-height: $submission-text-min-height;
}

.reviewers-comments {
  .submission-text {
    // width: 90%;
    // float: right;
    // margin-right: 20px;
    $margin-left: 35px;
    width: calc(100% - #{$margin-left});
    margin-left: $margin-left;
  }

  > label:first-child {
    margin-bottom: 20px;
  }
}

.panel-heading {
  .panel-info > .panel-collapse > & {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  @at-root #assignment div#{&}[data-toggle="collapse"]{
    color: #fff;
    background-color: #337ab7;
    margin: 0 -3px;
    border-radius: 3px;
    cursor: pointer;
  }
}

.assignment-header {
  float: left;

  &:only-child {
    float: none;
    text-align: center;
  }
}

.review-others-link {
  float: right;
  border-left: 1px solid $header-separator-color;
  padding: 0 20px;
}

table.course-weeks {
  margin-top: 15px;

  > tbody > tr > td {
    vertical-align: inherit;

    .btn:only-child {
      margin-left: 20px;
    }
  }
}

.smaller {
  font-size: $smaller-font;
}

.bigger {
  font-size: $bigger-font;
}

.about-text {
  font-family: Georgia, serif;
  text-align: justify;
}

footer {
  padding-top: $footer-padding;
  padding-bottom: $footer-padding;

  color: $footer-text-color;

  a {
    color: $footer-link-color;
  }
}

.footer-links {
  padding-left: 0;

  li {
    display: inline-block;

    + li {
      margin-left: 15px;
    }
  }
}

.jumbotron {
  background-color: $jumbotron-color;
  background-image: $jumbotron-gradient;

  h1 {
    font-family: $jumbotron-heading-font;
  }
}
