mixin logregForm(action, info)
  if block
    block
  form(role='form', action=action, method="post", style='margin:0 auto; max-width: 300px;')
    .form-group
        input.form-control(type='text', name="username", placeholder='Enter Username', autofocus!=attributes.autofocus, required)
    .form-group
      - attributes['autofocus'] = undefined
      input.form-control(type='password', name="password", placeholder='Password', required)&attributes(attributes)
    button.btn.btn-default.pull-left(type='submit') Submit 
    a.btn.btn-primary.pull-right(href='/', role="button") Cancel
    
    if redirectedFrom
      input(type="hidden", name="redirectedFrom", value=redirectedFrom)
      
    
    br
    br
    if info
      .alert.alert-warning.alert-dismissible(role='alert')
        button.close(type='button', data-dismiss='alert', aria-label='Close')
          span(aria-hidden='true') &times;
        | #{info}
